
<div id="home_banner">
    <%= image_tag "/assets/coin.png", id:"home_banner_image" %>
    <div id="home_banner_content">
      <h1>Organize Investments</h1>
      <ul>
        <li>Equities</li>
        <li>Real Estate</li>
        <li>Tangible Assets</li>
      </ul>
      <h1>Visualize Returns</h1>
    </div>
    <div id="home_banner_action_buttons">
    <%= link_to "Learn More", about_path%> | <%= link_to "Get Started", signin_path %>
    </div>
</div>
