<% provide(:title, "Profile") %>

<h1 class="profile_header"><%= @user.name %> </h1> [<%= link_to 'Edit', edit_user_path(@user) %>]

<%= render 'lots/transactions_select' %>

<%= link_to "More...", transactions_path %>
