<h2>Transactions</h2>
<%
  # Look for any pre-selected list items
  if not defined? @selected_transactions
    logger.debug("@selected_transactions not defined!")
    @selected_transactions = []
  else
    logger.debug("@selected_transactions: #{@selected_transactions}")
  end

  # Setup table heading to display each transaction
  # Only show an abbreviated table
  table = {}
  table[:headings] = []
  table[:rows] = []
  table[:class] = "summary_table"
  ["Select", "Date", "Symbol", "Action", "Price", "Quantity", "Lot"].each do |heading|
    header = {}
    header[:content] = heading
    table[:headings].append(header)
  end

  # Need the controller to populate @transactions
  @transactions.each do |tran|
    row = []
    [ check_box_tag("transactions[]", tran.id, @selected_transactions.include?(tran.id) ? true : false),
      # TODO: AJAX Popup for more transaction info
      #link_to(tran.date, edit_transaction_path(tran)), 
      tran.date, tran.symbol.upcase, tran.action ? tran.action.name.capitalize : "",
      dollar_str(tran.price), tran.quantity, tran.lot_id].each do |col|
      column = {}
      column[:content] = col
      row.append(column)
    end

    table[:rows].append(row)
  end
%>

<%= table_helper(table) %>
