<h1>Listing Lots</h1>

<%= render 'lots_list'%>
<%= link_to 'New Lot', new_lot_path %>
<%= link_to 'Delete All Lots', '/', data: { confirm: 'Are you sure?  This will clear all transaction data.' } %>
