$primary_color: #8CC0D9;
$secondary_color: #8CA7D9;
$alternate_row_color: #D9EAF2;
$highlighted_row_color: #D9F2DA;
$positive_number: #3E9346;
$negative_number: #A03A32;

.primary_background {
  background: #F3F8FA;
}

.secondary_background {
  background: #F3F6FA;
}
