body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.flash {
  width: 97%;
  border: 2px solid;
  padding: 2px;
  padding-bottom: 0;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    display: inline;
    margin: 0px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
	&.error {
		background-color: #9D2E27;
		border-color: #FABBB6;
	}
	&.success {
		background-color: #3A9133;
		border-color: #BBFAB6;
	}
	&.notice {
		background-color: #919191;
		border-color: #FAFAFA;
	}
}
