// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application_styles';

.summary_table {
  tr {

    th {
      background: $primary_color;
      text-align: left;
    }

  }

  tr.alternate_row {
    background: $alternate_row_color;
  }

  tr:hover {
    background: $highlighted_row_color;
  }
}

.positive_number {
  color: $positive_number;
}

.negative_number {
  color: $negative_number;
}
